@use '../variables' as *;

.accounts-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .row {
    display: grid;
    grid-template-columns: 1fr 140px 1fr 1fr 36px; // labels, type, login, password, action
    align-items: center;
    gap: 8px;

    &--grow .col-login {
      grid-column: 3 / span 2;
    }
  }

  .col {
    min-width: 0;
  }

  .col-action {
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
  }
}

// Mobile
@media (max-width: $breakpoint-tablet) {
  .accounts-list {
    &__header {
      display: none !important;
    }

    .row {
      grid-template-columns: 1fr;
      gap: 8px;
      border-bottom: 1px solid #ababab;
      margin-bottom: 14px;

      &--grow .col-login {
        grid-column: 1 / -1;
      }
    }

    .col-labels {
      grid-column: 1 / -1;
    }

    .col-type {
      grid-column: 1 / 2;
    }

    .col-action {
      grid-column: 2 / 3;
      grid-row: 1;
    }

    .col-login {
      grid-column: 1 / -1;
    }

    .col-pass {
      grid-column: 1 / -1;
    }
  }
}
